/* css reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Custom CSS*/


body{

  /*gwk blau #283482*/
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #eeebf4;

  display: grid;
  grid-template:
              "a a a" auto
              "b b b" auto
              "c c c" auto;
  grid-gap: 28px;
}

/*top*/
.top{
  background-color: black;
  color: #eeebf4;
  grid-area: a;
}

.welcome-header{
    padding-left: 28px;
    padding-top: 14px;
    height:46px;
}

.welcome-header .logo a{
    float: left;
    font-size: 28px;
		text-decoration: none;
		color: #eeebf4;
}


.welcome-header .login, .welcome-header .register, .welcome-header .admin {
  position: relative;
  float: left;
  padding-left: 14px;
  padding-right: 14px;
  color: #eeebf4;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Merienda One', cursive;
}


:root {
  --mainColor: #283482;
}

.linklist a:link {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .4s;
}


.linklist a:hover {
  background-size: 4px 50px;
}

a.login.current, a.register.current, a.admin.current{
  background-size: 4px 50px;
	transition: none;
}

/*body*/
.front {
    padding-left: 28px;
    grid-area: b;
}

h2{
	font-size:36px;
	font-weight: bold;
	margin-bottom: 14px;
}

h3{
	font-weight: bold;
	margin-bottom: 14px;
}


body .loginForm{
	grid-area:b;

}


body .registerForm{
	grid-area:b;

}

input{
	margin-bottom: 14px;
	height: 28px;
	width: 280px;
	background-color: white;
	color: #283482;
	text-align: left;
	outline: none;
	border:none;
	font-weight: normal;
	padding-left: 14px;
}

.insert input, .update input{
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

.update:disabled{
	display: none;
}


button{
	height: 28px;
	width: auto;
	font-weight: bold;
	border: none;
	background-color: white;
	color: #283482;
	text-align: center;
	padding: 0px;
	padding-left: 14px;
	padding-right: 14px;

}

button:hover{
	 background-color: #283482;
	 color: white;
	 cursor:pointer;
}

button:disabled {
		color: #eeebf4;
    background: white;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #283482;
    opacity: 0.4; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #283482;
		opacity: 0.4;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #283482;
		opacity: 0.4;
}



label{
display: flex;
margin-bottom: -7px;
}


.show .botdocument{
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 14px;
	padding-right: 14px;
	text-align: left;
	border: 1px solid #283482;
	margin-bottom: 3px;
}

.botdocument p{
	margin-bottom: 3px;
}

.botdocument:hover{
		 cursor:pointer;
	background-color:  #283482;
	color: white;
}


.botdocument.clickable.clicked{
	background-color: #283482;
		color: white;
}

.delete{
	margin-top: 24px;
}

.delete .confirmTick{
	width: 28px;
	height: 28px;
	position: relative;
	float: left;

	margin:0px!important;
}

.delete button{
	position: relative;
	float: left;
	transform: translate(0px,-14px);
}

body{
	margin-left: 14px;
	margin-right: 14px;
}

.insert{
	grid-column: 1;
	grid-row: 2;
}


.update{
	grid-column: 3;
	grid-row: 2;
}

.show{
	grid-column: 2;
	grid-row: 2;
}
